.ask_secret
  .secred
    .modal-header
      h1 Secret
    .modal-body
      input.large(type="password")
    .model-footer
      button.btn ok

.topbar
  .fill
    .container(style="width: 100%;")
      h3#logo(style="margin-left: 15px;")
        a Flips.io
      ul.nav
        - if (everyauth.loggedIn)
          li
            | Hello #{everyauth.github.user.name}
            a(href:"/logout") Logout
        - else
          li 
            a(href:"/auth/github") Login with Github

.toolbar
  .save_button.item
    button.btn.primary#save(original-title="Shortcut Ctrl+S") Save

  .secret.item
    label.tip(for="secret", original-title="Define a password to protect editing and remote controlling of this slide show") Secret
    input.large#secret(type="password")
    input.large#secret_clear(type="text")
    a#toggle_secret(href="#", style="margin-left: 5px;") Show

  .remote_link.item.link
    a(href="#", target="_blank", original-title="Control the slide show for everyone in one place and see your speaker notes") Remote

  .public_link.item.link
    a(href="#", target="_blank", original-title="Public view accessible for everyone") Presentation View

.options
  select#mode.medium(original-title="Select input method")
    option(value='html') HTML
    option(value='jade') Jade

  select#transition.medium(original-title="Select a transition")
    option(value='nothing') No transition
    option(value='fade') Fade
    option(value='horizontal-slide') Horizontal Slide
    option(value='vertical-slide') Vertical Slide
    option(value='horizontal-slide') Horizontal Slide

  select#theme.medium(original-title="Select a theme")
    option(value='nothing') No theme
    option(value='neon') Neon
    option(value='swiss') Swiss
    option(value='web-2.0') Web 2.0

.edit_view

  #editor

.preview
  iframe(frameborder="0", src="/start/initial")

.about 
  a(href="http://flips.io") Flips.io 
  \Originally created in 
  a(href="http://nodeknockout.com/teams/sliders") Node Knockout 2011
  .
  :markdown
    &copy; 2011 [Alexander Hanhikoski](https://twitter.com/#!/alexhanh), [Esa-Matti Suuronen](https://twitter.com/#!/esamatti)
  div.
    <iframe src="http://nodeknockout.com/iframe/sliders" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
    </iframe>

script(type="text/javascript", src="http://static.wehearvoices.net/widget.js")
script(type="text/javascript", src="http://widget.wehearvoices.net/node/init.js?user_id=39e49e1c-d1b9-11e0-956c-fefdb24f91c5")

script(type="text/javascript")
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25393535-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
