.topbar
  .fill
    .container(style="width: 100%;")
      h3(style="margin-left: 15px;")
        a Flips.io

.toolbar
  .save_button.item
    button.btn.primary#save(original-title="Ctrl+S") Save

  .secret.item
    label.tip(for="secret", original-title="Use this to protect editing and remote controlling") Secret
    input.large#secret(type="password")
    input.large#secret_clear(type="text")
    a#toggle_secret(href="#", style="margin-left: 5px;") Show
  
  .remote_link.item.link
    a(href="#", target="_blank", original-title="Master remote controller") Remote

  .public_link.item.link
    a(href="#", target="_blank", original-title="Public view accessible for everyone") Presentation View


.edit_view
  #editor

.preview
  iframe(frameborder="0", src="/start/initial")

.about
  :markdown
    Flips.io was an entry in [Node Knockout 2011](http://nodeknockout.com/).

    TODO: Vote button here


