.ask_secret
  .secred
    .modal-header
      h1 Secret
    .modal-body
      input.large(type="password")
    .model-footer
      button.btn ok

.topbar
  .fill
    .container(style="width: 100%;")
      h3(style="margin-left: 15px;")
        a Flips.io

.toolbar
  .save_button.item
    button.btn.primary#save(original-title="Ctrl+S") Save

  .secret.item
    label.tip(for="secret", original-title="Use this to protect editing and remote controlling of this slide show") Secret
    input.large#secret(type="password")
    input.large#secret_clear(type="text")
    a#toggle_secret(href="#", style="margin-left: 5px;") Show

  .remote_link.item.link
    a(href="#", target="_blank", original-title="Master remote controller") Remote

  .public_link.item.link
    a(href="#", target="_blank", original-title="Public view accessible for everyone") Presentation View


.edit_view
  #editor

.preview
  iframe(frameborder="0", src="/start/initial")

.about
  :markdown
    Flips.io was created for [Node Knockout 2011](http://nodeknockout.com/).

  &copy; 2011 Alexander Hanhikoski, Esa-Matti Suuronen

script(type="text/javascript", src="http://static.wehearvoices.net/widget.js")
script(type="text/javascript", src="http://widget.wehearvoices.net/node/init.js?user_id=39e49e1c-d1b9-11e0-956c-fefdb24f91c5")

script(type="text/javascript")
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25393535-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();