.topbar
  .fill
    .container
      h3
        a Flips.io

.toolbar
  button.btn.primary#save Save


.edit_view
  #editor



.preview
  iframe(frameborder="0", src="/initial")


#links
  #public_link
  #remote_link

