.topbar
  .fill
    .container
      h3
        a Flips.io

.toolbar
  .save_button.item
    button.btn.primary#save Save

  .password.item
    label(for="pass") Remote password
    input.large#pass(type="text")

  .public_link.item
    a(href="foobar", target="_blank") public link


.edit_view
  #editor



.preview
  iframe(frameborder="0", src="/initial")

.about
  :markdown
    Flips.io was an entry in [Node Knockout 2011](http://nodeknockout.com/).

    TODO: Vote button here


