.topbar
  .fill
    .container
      h3
        a Flips.io

.toolbar
  .save_button.item
    button.btn.primary#save(title="Ctrl+s") Save

  .password.item
    label(for="pass") Remote password
    input.large#pass(type="text")

  .remote_link.item.link
    a(href="#", target="_blank") Remote

  .public_link.item.link
    a(href="#", target="_blank") Presentation view


.edit_view
  #editor



.preview
  iframe(frameborder="0", src="/initial")

.about
  :markdown
    Flips.io was an entry in [Node Knockout 2011](http://nodeknockout.com/).

    TODO: Vote button here


