.topbar
  .fill
    .container
      h3
        a Flips.io

.toolbar
  .save_button.item
    button.btn.primary#save(title="Ctrl+s") Save

  .password.item
    label.tip(for="pass", original-title="Use this to protect remote controlling.") Remote password
    input.large#pass(type="password")
    input.large#pass_clear(type="text")
    a#toggle_password(href="#", style="margin-left: 5px;") Show
  
  .remote_link.item.link
    a(href="#", target="_blank") Remote

  .public_link.item.link
    a(href="#", target="_blank") Presentation View


.edit_view
  #editor



.preview
  iframe(frameborder="0", src="/initial")

.about
  :markdown
    Flips.io was an entry in [Node Knockout 2011](http://nodeknockout.com/).

    TODO: Vote button here


