!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    // deck.js
    link(rel='stylesheet', href='/stylesheets/deck.js/deck.core.css')
    link(rel='stylesheet', href='/styles.css')

    !{renderScriptTags()}
  body!= body
