!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap-1.1.1.min.css')

    link(rel='stylesheet', href='/styles.css')
    link(rel='stylesheet', href='/stylesheets/jquery.jgrowl.css')
    link(rel='stylesheet', href='/stylesheets/tipsy.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Leckerli+One')
    
    script(type="text/javascript", src="/javascripts/ace/ace.js")
    script(type="text/javascript", src="/javascripts/ace/mode-html.js")
    script(type="text/javascript", src="/javascripts/ace/mode-jade.js")
    //script(type="text/javascript", src="/javascripts/ace/jade_highlight_rules.js")



    !{renderScriptTags()}
    script(type="text/javascript", src="/javascripts/jquery.cookie.js")
    script(type="text/javascript", src="/javascripts/jquery.cookies.js")

  body!= body
