!!!
html
  head
    title Remote

    link(rel='stylesheet', href='/remote.css')
    link(rel='stylesheet', href='/stylesheets/jquery.jgrowl.css')

    !{renderScriptTags()}

  body

    .remote
        h1
          span#current 0
          span /
          span#max ?
      .buttons
        button#prev prev
        button#next next

