!!!
html
  head
    title Remote
    meta(content='True', name='HandheldFriendly')
    meta(content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;', name='viewport')
    meta(name="viewport", content="width=device-width")

    link(rel='stylesheet', href='/stylesheets/bootstrap-1.1.1.min.css')
    link(rel='stylesheet', href='/remote.css')
    link(rel='stylesheet', href='/stylesheets/jquery.jgrowl.css')

    !{renderScriptTags()}

    script(type="text/javascript", src="/javascripts/jade.js")

  body

    .remote
      h1
        span#current 0
        span /
        span#max ?


      .buttons
        button.btn.primary#prev prev
        button.btn.primary#next next

      .secret
        label(for="secretInput") Your secret if any
        input.large#secretInput

      #speakernote

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25393535-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
