!!!
html
  head
    title Flips.io

    // deck.js with extensions
    link(rel='stylesheet', href='/stylesheets/deck.js/deck.core.css')
    link(rel='stylesheet', href='/stylesheets/deck.js/deck.goto.css')
    link(rel='stylesheet', href='/stylesheets/deck.js/deck.hash.css')
    link(rel='stylesheet', href='/stylesheets/deck.js/deck.menu.css')
    link(rel='stylesheet', href='/stylesheets/deck.js/deck.navigation.css')
    link(rel='stylesheet', href='/stylesheets/deck.js/deck.status.css')
    link(rel='stylesheet', href='/stylesheets/deck.js/horizontal-slide.css')  

    link(rel='stylesheet', href='/styles.css')

    !{renderScriptTags()}

    script(type="text/javascript", src="/javascripts/deck.js/modernizr.custom.js")
    script(type="text/javascript", src="/javascripts/deck.js/deck.core.js")
    script(type="text/javascript", src="/javascripts/deck.js/deck.goto.js")
    script(type="text/javascript", src="/javascripts/deck.js/deck.hash.js")
    script(type="text/javascript", src="/javascripts/deck.js/deck.menu.js")
    script(type="text/javascript", src="/javascripts/deck.js/deck.navigation.js")
    script(type="text/javascript", src="/javascripts/deck.js/deck.status.js")

  body.deck-container

    // goto
    form(action=".", method="get").goto-form
      laber(for="goto-slide") Go to slide:
      input#goto-slide(type="number", name="slidenum")
      input(type="submit", value="Go")

    // status
    p.deck-status
      span.deck-status-current
      /
      span.deck-status-total

    // navigation
    a(href="#", title="Previous").deck-prev-link &#8592;
    a(href="#", title="Next").deck-next-link &#8594;

    // hash
    a(href=".", title="Permalink to this slide").deck-permalink #

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25393535-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();