@import 'nib'

.remote
  h1
    text-align center

.buttons
  button
    width 50%
    height 5em
    font-size: 18px


#speakernote
  margin-top 1em
  text-align: center
  font-famly: tahoma
  font-size: 18px
