
body
  position absolute
  top 0
  left 0
  bottom 0
  right 0px
  overflow-y auto
  overflow-x hidden

html
  overflow-y auto
  background-color transparent

::-webkit-scrollbar
  width 10px
  height 10px

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:incremen
  height 30px
  display block
  background-color transparent

::-webkit-scrollbar-track-piece
  background-color #CFCFCF
  -webkit-border-radius 6px

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal
  height 50px
  background-color #8A8A8A
  border 1px solid #eee
  -webkit-border-radius 6px

