@import 'nib'

body
  padding-top 40px

.jGrowl
  padding-top 40px

.toolbar
  padding-top 12px
  padding-left 12px
  height 40px
  border 2px solid black

.edit_view
  position absolute
  top 100px
  bottom 0px
  left 0px
  right 0px
  // border 2px solid red

#editor
  width 50%
  height 100%

button.save
  margin-top 420px
  margin-left: 20px



.preview iframe
  width 50%
  height 500px
  position absolute
  top 100px
  left 50%
  // border 2px solid green

// .edit_view
//   float left

#links
  display none

