@import 'nib'

body
  padding-top 40px

.jGrowl
  padding-top 40px

#editor
  position absolute
  width 720px
  height 400px
  top 50px
    
button.save
  margin-top 420px
  
.preview iframe
  border none
  width 720px
  height 400px
  position absolute
  top 50px
  left 720px